<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit the user</title>
</head>
<body>
<header>
    <h1>edit user</h1>
</header>

<main>
    <form th:action="@{/edituser/{id}(id=${user.id})}" th:object="${user}" method="post">
        <label>
            Id:
            <input type="text" id="id" th:field="*{id}" readonly="readonly"/>
        </label>
        <br/>
        <label>
            Name:
            <input type="text" id="name" th:field="*{name}"/>
        </label>
        <br/>
        <label>
            Username:
            <input type="text" id="username" th:field="*{username}"/>
        </label>
        <br/>
        <label>
            Email:
            <input type="text" id="email" th:field="*{email}"/>
        </label>
        <br/>
        <label>
            Phone:
            <input type="text" id="phone" th:field="*{phone}"/>
        </label>
        <br/>
        <label>
            Website:
            <input type="text" id="website" th:field="*{website}"/>
        </label>
        <br/>
        <button>Edit</button>
    </form>
</main>
</body>
</html>